@media screen and (prefers-color-scheme: light) {
	body {
		background-color: white;
		color: #202124;
	}
	.dark-mode {
		background-color: #202124;
		color: white;
	}
}

.smooth-transition {
	transition: background-color 300ms;
}

@media screen and (prefers-color-scheme: dark) {
	.dark-mode {
		background-color: white;
		color: #202124;
	}
	body {
		background-color: #202124;
		color: white;
	}
}
